<!DOCTYPE html>
<html lang="en" ng-app="todo">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/css/bootstrap/bootstrap.css">
        <link rel="stylesheet" href="/css/main.css">
    </head>
    <body>
        <div class="container">
            <div class="row" ng-controller="TasksController">
                <div class="col-md-4">
                    <h1>Uncompleted</h1>
                    <hr>
                    <ul class="list-unstyled">
                        <task ng-repeat="task in tasks | filter: {isCompleted: false}"></task>
                        <new-task></new-task>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h1>Add a new task</h1>
                    <hr>
                    <form name="newTaskForm" ng-submit="newTaskForm.$valid && addTask()" novalidate>
                        <div class="form-group" ng-class="{'has-error': newTaskForm.$invalid}">
                            <textarea class="form-control" ng-model="newTask" required></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary btn-lg">Add</button>
                    </form>
                </div>
                <div class="col-md-4">
                    <h1>Completed</h1>
                    <hr>
                    <ul class="list-unstyled">
                        <task ng-repeat="task in tasks | filter: {isCompleted: true}"></task>
                    </ul>
                </div>
            </div>
        </div> 
        <script src="/js/angular/angular.js"></script>
        <script src="/js/app.js"></script>
    </body>
</html>
