@import (less) "import/variables.less";

body {
    padding: @page-offset;
}

.task {
    font-size: @task-font-size;
}

.task-uncompleted {
    color: @task-uncompleted-color;
}

.task-completed {
    color: @task-completed-color;
}
